<div class="row body" style="overflow: hidden;">

  <div class="column" style="width: 100%">
    <div class="row" style="background: #eee; padding: 0 50px; justify-content: space-between;min-height: 120px;">
      <div class="flex-row">
        <div class="container flex-row">
          <div>
            <button (click)="goBack()" color="white" mat-mini-fab style="margin-right: 40px">
              <mat-icon>navigate_before</mat-icon>

            </button>
          </div>
          <label class="mat-h1 my-account-header">Wprowadź bilet</label>
        </div>
      </div>
    </div>

    <div class="whiteboard" style="overflow: auto;">
      <mat-card class="user-add-form main auto-margin" style="min-width: 400px;">

        <mat-card-content>
          <form #formBasic="ngForm" class="width-100">
            <div style="padding: 15px">
              <div style="margin-left: 15px">
                <div class="row space-between">
                  <div>
                    <mat-form-field class="width-100">
                      <mat-select [(ngModel)]="ticket.clientId" name="client" placeholder="Klient"
                                  required>
                        <mat-option *ngFor="let client of clients" [value]="client.id">
                          {{client.name}} {{client.surname}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <mat-select [(ngModel)]="ticket.paymentTypeId" name="paymentType" placeholder="Typ opłat"
                                  required>
                        <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">
                          {{paymentType.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <mat-select [(ngModel)]="ticket.ticketTypeId" name="ticketType" placeholder="Typ biletu"
                                  required>
                        <mat-option *ngFor="let ticketType of ticketTypes" [value]="ticketType.id">
                          {{ticketType.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <mat-select [(ngModel)]="ticket.workerId" name="worker" placeholder="Pracownik"
                                  required>
                        <mat-option *ngFor="let worker of workers" [value]="worker.id">
                          {{worker.name}} {{worker.surname}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <input [(ngModel)]="ticket.dateFrom" [matDatepicker]="myDatepickerFrom" id="dateFrom" matInput
                             name="dateFrom"
                             placeholder="Data wprowadzenia" required>
                      <mat-datepicker-toggle [for]="myDatepickerFrom" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatepickerFrom></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <input [(ngModel)]="ticket.timeFrom" id="timeFrom" matInput name="timeFrom"
                             placeholder="Godzina rozpoczęcia" required type="time">
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <input [(ngModel)]="ticket.dateTo" [matDatepicker]="myDatepicker" id="dateTo" matInput
                             name="dateTo"
                             placeholder="Data zakończenia" required>
                      <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <input [(ngModel)]="ticket.timeTo" id="timeTo" matInput name="timeTo"
                             placeholder="Godzina zakończenia" required type="time">
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <input [(ngModel)]="ticket.price" id="price" matInput name="price" placeholder="Cena"
                             required
                             type="number">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="full-width form-btn-ground" style="margin-bottom: 10px">
              <button (click)="save(formBasic)" color="primary" mat-raised-button
                      style="border-radius: 20px; display: flex; margin: auto;"
                      type="submit">Zapisz
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

