<div class="main">
  <mat-card class="auto-margin" style="width: 400px;padding: 0!important;">
    <mat-card-header class="auto-margin" style="width: 80px">
      <mat-card-title class="header mat-h1" style="font-size: xx-large;">Witaj!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #f="ngForm" name="form" novalidate>
        <div class="form-width auto-margin" style="padding-bottom: 24px">
          <div [ngClass]="{ 'has-error': f.submitted}" class="form-element-padding">
            <mat-form-field>
              <input [(ngModel)]="model.username" class="form-width" matInput maxlength="255" name="username"
                     placeholder="Login" required/>
              <mat-error *ngIf="loginForm.hasError('required')"> Podaj login</mat-error>
            </mat-form-field>

          </div>
          <div [ngClass]="{ 'has-error': f.submitted }" class="form-element-padding">
            <mat-form-field>
              <input #pass [(ngModel)]="model.password" class="form-width" matInput maxlength="32" name="password"
                     placeholder="Hasło" required
                     type="password"/>
              <mat-error *ngIf="passwordForm.hasError('required')"> Podaj hasło</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row form-btn-ground full-width">
          <button (click)="login()" [disabled]="loading" color="primary"
                  mat-raised-button style="border-radius: 20px; display: flex; margin: auto;">Zaloguj
          </button>
        </div>
        <div *ngIf="error" class="alert alert-error">{{error}}</div>
      </form>
    </mat-card-content>
  </mat-card>
  <div style="height: 300px"></div>
</div>
