<div class="row body" style="overflow: hidden;">

  <div class="column" style="width: 100%">
    <div class="row" style="background: #eee; padding: 0 50px; justify-content: space-between;min-height: 120px;">
      <div class="flex-row">
        <div class="container flex-row">
          <div>
            <button (click)="goBack()" color="white" mat-mini-fab style="margin-right: 40px">
              <mat-icon>navigate_before</mat-icon>

            </button>
          </div>
          <label class="mat-h1 my-account-header">Modyfikuj klienta</label>
        </div>
      </div>
    </div>

    <div class="whiteboard" style="overflow: auto;">
      <mat-card class="user-add-form main auto-margin" style="min-width: 400px;">

        <mat-card-content>
          <form #formBasic="ngForm" class="width-100">
            <div style="padding: 15px">
              <div style="margin-left: 15px">
                <div class="row space-between">
                  <div>
                    <mat-form-field class="width-100">
                      <input [(ngModel)]="client.name" id="name" matInput name="name" placeholder="Imię" required
                             type="text">
                    </mat-form-field>
                    <mat-form-field class="width-100">
                      <input [(ngModel)]="client.surname" id="surname" matInput name="surname" placeholder="Nazwisko"
                             required
                             type="text">
                    </mat-form-field>
                    <mat-form-field class="width-100">
                      <input [(ngModel)]="client.date" [matDatepicker]="myDatepicker" id="date" matInput name="date"
                             placeholder="Data urodzenia" required>
                      <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="width-100">
                      <input [(ngModel)]="client.address" id="address" matInput name="address" placeholder="Adres"
                             required
                             type="text">
                    </mat-form-field>
                    <mat-form-field class="width-100">
                      <input [(ngModel)]="client.phone" id="phone" matInput name="phone" placeholder="Nr tel." required
                             type="text">
                    </mat-form-field>
                    <mat-form-field class="width-100">
                      <input [(ngModel)]="client.email" id="email" matInput name="email" placeholder="E-mail" required
                             type="text">
                    </mat-form-field>

                    <mat-form-field class="width-100">
                      <mat-select [(ngModel)]="client.status" name="status" placeholder="Status">
                        <mat-option [value]="true">Dostępny</mat-option>
                        <mat-option [value]="false">Niedostępny</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="full-width form-btn-ground" style="margin-bottom: 10px">
              <button (click)="save(formBasic)" color="primary" mat-raised-button
                      style="border-radius: 20px; display: flex; margin: auto;"
                      type="submit">Zapisz
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

