/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.evidence {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.createUpdate {
  margin-top: 20px !important;
  color: white !important;
  background-color: #3F50B5 !important
}

.row {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.column{
  display: flex !important;
  flex-direction: column;
}

.form-btn-ground {
  padding: 24px 0;
  background-color: #f6f6f6;
}

.full-width {
  width: 100% !important;
}
