<div style="width: 80%;margin: 25px auto auto;">
  <mat-form-field style="width: 100%">
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filtr">
  </mat-form-field>
</div>

<div class="evidence">

  <table [dataSource]="receptionistViewDataSource" class="mat-elevation-z8" mat-table matSort style="width: 90%">

    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Nr.</th>
      <td *matCellDef="let element" mat-cell> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="clientName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Imię klienta</th>
      <td *matCellDef="let element" mat-cell> {{element.clientName}} </td>
    </ng-container>

    <ng-container matColumnDef="clientSurname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Nazwisko klienta</th>
      <td *matCellDef="let element" mat-cell> {{element.clientSurname}} </td>
    </ng-container>

    <ng-container matColumnDef="workerName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Imię pracownika</th>
      <td *matCellDef="let element" mat-cell> {{element.workerName}} </td>
    </ng-container>

    <ng-container matColumnDef="workerSurname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Nazwisko pracownika</th>
      <td *matCellDef="let element" mat-cell> {{element.workerSurname}} </td>
    </ng-container>

    <ng-container matColumnDef="dateFrom">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Data wprowadzenia wywiadu</th>
      <td *matCellDef="let element" mat-cell> {{element.dateFrom}} </td>
    </ng-container>


    <ng-container matColumnDef="timeFrom">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Godzina wprowadzenia</th>
      <td *matCellDef="let element" mat-cell> {{element.timeFrom}}</td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

</div>

