<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav *ngIf="router.url !== '/login'" class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar style="background-color: #673ab7; color: white"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/trainerInterviews" routerLinkActive="is-active">Wywiady trenera</a>
      <a mat-list-item routerLink="/exercises" routerLinkActive="is-active">Ćwiczenia</a>
      <a mat-list-item routerLink="/measurements" routerLinkActive="is-active">Pomiary</a>
      <a mat-list-item  routerLink="/clients" routerLinkActive="is-active">Klienci</a>
      <a mat-list-item routerLink="/tickets" routerLinkActive="is-active">Bilety</a>
      <a mat-list-item  routerLink="/workers" routerLinkActive="is-active">Pracownicy</a>
      <a mat-list-item routerLink="/ticketTypes" routerLinkActive="is-active">Typy biletów</a>
      <a mat-list-item routerLink="/paymentTypes" routerLinkActive="is-active">Typy opłat</a>
      <a mat-list-item routerLink="/measurementTypes" routerLinkActive="is-active">Typy pomiarów</a>
      <a mat-list-item routerLink="/exerciseTypes" routerLinkActive="is-active">Typy ćwiczeń</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="router.url !== '/login'" color="primary">
      <button mat-button (click)="toggleSidenav()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Header</span>
      <span class="fill-remaining-space"></span>

      <span>
        <button mat-flat-button color="primary" matTooltip="Wyloguj" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </span>

    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
